@import './../../colors.scss';

.home {
  width: 100%;
  height: 100vh;
  background: $background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // unselectable
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;

  .title {
    font-size: 14pt; // font-size: 32pt;
    line-height: 16pt; // line-height: 36pt;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;

    .highlight {
      color: $secondary;
    }

    span {
      font-weight: bold;
    }
  }
}

@media all and (min-width: 600px) {
  .home {
    .title {
      font-size: 24pt;
      line-height: 26pt;
    }
  }
}

@media all and (min-width: 900px) {
  .home {
    .title {
      font-size: 32pt;
      line-height: 36pt;
    }
  }
}
