@import './../../colors.scss';

.navbarContainer {
  background: $background;
  ul {
    padding: 0 0.5em 0 0.5em;
    li {
      a,
      button {
        color: white;
      }
    }
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-weight: bold;
    a {
      color: $secondary;
    }
  }

  .toggle {
    order: 1;
  }

  .item {
    width: 100%;
    text-align: center;
    order: 2;
    // font-size: 24px;
    text-transform: uppercase;
    padding-top: 1em;
    display: none;
  }

  .active {
    display: block;
  }
}

@media all and (min-width: 600px) {
  .menu {
    .logo {
      flex: 1;
      font-size: 24px;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
  }
}

@media all and (min-width: 900px) {
  .menu {
    justify-content: baseline;
    align-items: baseline;

    .logo {
      order: 0;
    }

    .item {
      order: 1;
      font-size: 16px;
      display: block;
      width: auto;
      padding-left: 15px;
    }

    .toggle {
      display: none;
    }
  }
}
